<!DOCTYPE html>
<html>
  <head>
    <title>manage account</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/standardStyles.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="nav_bar">
      <a href="/home" class="navButton" id="home">back</a>
    </div>

    <div id="centerQuestionare">
      <h1>Welcome</h1>
      
      <ul class="nav navbar-nav">
        <li><a href="/home">Home</a></li>
        <li>
          <form action="/login" method="POST">
            <!-- <input type="text" id="user" class="entry" name="username" placeholder="username: <%= user%>">
            <input type="text" id="pass" class="entry" name="password" placeholder="name: <%=name%>">
            <input type="text" id="user" class="entry" name="username" placeholder="email: <%= email%>">
            <input type="text" id="pass" class="entry" name="password" placeholder="phone #: <%= phone%>">
            <input type="text" id="user" class="entry" name="username" placeholder="password: <%= password%>">
            <input type="text" id="pass" class="entry" name="password" placeholder="retype password: <%= password%>"> -->
            <input type="text" id="user" class="entry" name="username" placeholder="username: Bob">
            <input type="text" id="pass" class="entry" name="password" placeholder="name: Bob">
            <input type="text" id="user" class="entry" name="username" placeholder="email: bob@gmail.com">
            <input type="text" id="pass" class="entry" name="password" placeholder="phone #: 222-222-2222">
            <input type="text" id="user" class="entry" name="username" placeholder="password: ***">
            <input type="text" id="pass" class="entry" name="password" placeholder="retype password: ***">
            <input type="submit" class="submitButton" value="make changes">
          </form>
        </li>
        <li><a class="button" href ="/home">cancel</a></li>
        <!-- <li> <p class="error"><%= error%></p></li> -->
      </ul>
    </div>
    <!-- user signs in and a cookie is created which keeps them signed in 
        and ensures the home page displays the correct account type and personal info-->
  </body>
</html>